* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.title {
  text-align: center;
  padding: 30px;
}

.section {
  width: 70%;
  margin: 0 auto;
  padding: 40px;
  margin-top: 70px;
  background-color: rgba(241, 161, 147, 0.925);
  border-radius: 5px;
  text-align: center;
}

.section ul {
  display: flex;
  flex-wrap: wrap;
}

.section ul li {
  width: 20%;
  list-style: none;
  padding: 20px 10px;
  box-shadow: 2px 2px 2px rgba(114, 95, 46, 0.205);
}

.section ul li h4 {
  color: #792f2f;
  padding-top: 9px;
}

.section ul li h6 {
  padding: 15px 0;
}

