* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.section {
  width: 70%;
  margin: 0 auto;
  padding: 40px;
  margin-top: 80px;
  background-color: #f0be80;
  border-radius: 5px;
}

.section ul {
  display: flex;
  flex-wrap: wrap;
}

.section ul li {
  width: 20%;
  list-style: none;
  padding: 20px;
}

.section ul li h6 {
  padding: 15px 0;
}

